<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="site-footer" th:fragment="footer-fragment">
    <div class="footer-related">
        <div class="footer-article w1100">
            <dl class="contact clearfix">
                <dt class="fl">
                    <i class="iconfont"></i>
                </dt>
                <dd class="fl">
                    <p class="text">Artificial customer service</p>
                    <p class="tel">400-xxx-xx13</p>
                    <a href="//shang.qq.com/wpa/qunwpa?idkey=dc0e028f177932aee2c212a2dd60e0b8342042ac205305803ea801c4eea6727c">Online consulting</a>
                </dd>
            </dl>
            <dl class="col-article">
                <dt>Help center</dt>

            </dl>
            <dl class="col-article">
                <dt>Pay attention to our</dt>

            </dl>
            <dl class="col-article">

            </dl>
            <dl class="col-article">
                <dt>About the leaves bee</dt>

                </dd>
            </dl>
            <dl class="wx">
                <dt>leaves-mall</dt>
            </dl>
        </div>
        <div class="footer-links w1100">

        </div>


    </div>
</div>
</html>